<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Venta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>

    <div class="container">
        <h2>Venta</h2>

        <input type="text" placeholder="Buscar producto..." id="buscar">

        <div id="sucursales-container">
            <!-- Las sucursales se cargarán dinámicamente con JavaScript -->
        </div>

        <div class="separador"></div>

        <div id="casa-matriz-container">
            <!-- La información de casa matriz se cargará dinámicamente -->
        </div>

        <select id="sucursal">
            <option value="1">Sucursal 1</option>
            <option value="2">Sucursal 2</option>
            <option value="3">Sucursal 3</option>
            <option value="casa_matriz">Casa Matriz</option>
        </select>

        <input type="number" placeholder="Cantidad" id="cantidad">

        <button id="calcular">Calcular</button>

        <div class="total">Total: <span id="total">-</span></div>
        <div class="total">Total en USD: <span id="totalUSD">-</span></div>

        <button id="vender">Venta</button>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
